extends layout

block content

  h1 分类: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 图书
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p 该分类下无图书